@page "/admin/userRoles"
@inject IUserEndpoint userEndpoint
@inject IJobTitleEndpoint jobTitleEndpoint
@inject IUserEndpoint userEndpoint
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navManager
@attribute [Authorize(Roles = "Admin")]

<h1>User Management</h1>

@if (string.IsNullOrWhiteSpace(errorMessage) == false)
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

@if (users is not null && roles is not null)
{
    <div class="">
        <div class="row">
            <div class="col-sm">
                <EditForm Model="selectedUserRolePair" OnValidSubmit="AddSelectedRole">
                    <div class="row">
                        <label for="user-id" class="col-md-2 col-form-label">Users: </label>
                        <div class="col-md-10">
                            <MyInputRadioGroup id="users" @bind-Value="selectedUserRolePair.Id" class="">
                                @foreach (var user in users)
                                {
                                    <div class="">
                                        <InputRadio Value="@user.Id" id="@user.Id" />
                                        <label for="@user.Id">@user.FullName</label>
                                    </div>
                                }
                            </MyInputRadioGroup>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <label for="role-name" class="col-md-2 col-form-label">Roles: </label>
                        <div class="col-md-10">
                            <MyInputRadioGroup id="roles" @bind-Value="selectedUserRolePair.RoleName">
                                @foreach (var role in roles)
                                {
                                    <div class="">
                                        <InputRadio Value="@role.Value" id="@role.Value" />
                                        <label for="@role.Value">@role.Value</label>
                                    </div>
                                }
                            </MyInputRadioGroup>
                        </div>
                    </div> 
                    <button type="submit" class="btn btn-primary">
                        Add Selected Role
                    </button>
                    <button type="button" class="btn btn-primary" @onclick="RemoveSelectedRole">
                        Remove Selected Role
                    </button>
                </EditForm>
            </div>
            <div class="col-sm">
                <Virtualize Items="users" Context="user" OverscanCount="10">
                    <div>
                        Username: @user.FullName
                        @if (string.IsNullOrWhiteSpace(user.RoleList))
                        {
                            <text> Roles: This User has No Roles</text>
                        }
                        else
                        {
                            <text> Roles: @user.RoleList</text>
                        }
                        <br />
                    </div>
                </Virtualize>
            </div>
        </div>
    </div>
}


@code {
    private string errorMessage = "";
    private UserRolePairModel selectedUserRolePair = new();

    private List<UserModel> users;
    private const string UserListName = "userList";
    private const string UserCacheDate = "userCacheDate";
    private double totalMinutesUser = 0;

    private Dictionary<string, string> roles;
    private const string RoleListName = "roleList";
    private const string RoleCacheDate = "roleCacheDate";
    private double totalMinutesRole = 0;

    protected override async Task OnInitializedAsync()
    {
        users = await localStorage.GetItemAsync<List<UserModel>>(UserListName);
        DateTime? cacheDateUser = await localStorage.GetItemAsync<DateTime?>(UserCacheDate);

        roles = await localStorage.GetItemAsync<Dictionary<string, string>>(RoleListName);
        DateTime? cacheDateRole = await localStorage.GetItemAsync<DateTime?>(RoleCacheDate);

        if (cacheDateUser is not null)
        {
            totalMinutesUser = DateTime.UtcNow.Subtract((DateTime)cacheDateUser).TotalMinutes;
        }

        if (cacheDateRole is not null)
        {
            totalMinutesRole = DateTime.UtcNow.Subtract((DateTime)cacheDateRole).TotalMinutes;
        }

        if (users is null || roles is null || 
            cacheDateUser is null || cacheDateRole is null ||
            totalMinutesUser > 10 || totalMinutesRole > 10)
        {
            try
            {
                users = await userEndpoint.GetAllAsync();
                await localStorage.SetItemAsync(UserListName, users);
                await localStorage.SetItemAsync(UserCacheDate, DateTime.UtcNow);
                roles = await userEndpoint.GetAllRolesAsync();
                await localStorage.SetItemAsync(RoleListName, roles);
                await localStorage.SetItemAsync(RoleCacheDate, DateTime.UtcNow);
            }
            catch (Exception ex)
            {
                errorMessage = ex.Message;
            }
        }
    }

    private async Task AddSelectedRole()
    {
        try
        {
            await userEndpoint.AddUserToRoleAsync(selectedUserRolePair.Id, selectedUserRolePair.RoleName);
        }
        catch
        {
            errorMessage = "A User Or A Role Must Be Selected.";
        }
    }

    private async Task RemoveSelectedRole()
    {
        try
        {
            await userEndpoint.RemoveUserFromRoleAsync(selectedUserRolePair.Id, selectedUserRolePair.RoleName);
        }
        catch
        {
            errorMessage = "A User Or A Role Must Be Selected.";
        }  
    }
}
