@page "/items"
@inject IItemEndpoint itemEndpoint
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage
@attribute [Authorize]

<h1 class="page-heading text-uppercase mb-4">Items</h1>

<div class="row">
    <div class="col-md-2 mt-2 text-uppercase fw-bold text-light">@items?.Count Items</div>
    <div class="col-md-4 col-xl-5 btn-group">
        <button class="btn @SortedByPrice(true)" @onclick="(() => OrderByPrice(true))">Price</button>
        <button class="btn @SortedByPrice(false)" @onclick="(() => OrderByPrice(false))">Quantity</button>
    </div>
    <div class="col-md-4 col-xl-3 input-search">
        <input type="text" placeholder="Search" 
            aria-label="Search Box" 
            class="form-control rounded-control"
            @oninput="((txt) => OnSearchInput((string)txt.Value))" />
    </div>
    <div class="col-12 d-block d-md-none">
        <div class="departments">
            <span class="text-uppercase fw-bold">Archived</span>
            <div class="@SortedByArchived()" @onclick="(() => OrderByArchived())">All</div>
            <div class="@SortedByArchived("Archived")" @onclick="@(() => OrderByArchived("Archived"))">Archived</div>
            <div class="@SortedByArchived("Non-Archived")" @onclick="@(() => OrderByArchived("Non-Archived"))">Non Archived</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-xl-9">
        @if (items is not null)
        {
            <Virtualize Items="items" Context="i" OverscanCount="10">
                <div class="row form-layout mt-4 items-background" @onclick="(() => OpenDetails(i))">
                    <div class="col-12">
                        <div class="form-layout mb-2">
                            <div class="text-center fw-bold text-uppercase">Model Name</div>
                            <div class="text-center fw-bold">@i.ModelName</div>
                        </div>
                        <div class="form-layout mb-2">
                            <div class="text-center fw-bold text-uppercase">Quantity</div>
                            <div class="text-center fw-bold">@i.Quantity</div>
                        </div>
                        <div class="form-layout mb-2">
                            <div class="text-center fw-bold text-uppercase">Price</div>
                            <div class="text-center fw-bold">@i.Price€</div>
                        </div>
                    </div>
                </div>
            </Virtualize>
        }
    </div>
    <div class="col-md-4 col-xl-3 d-none d-md-block">
        <div class="departments">
            <span class="text-uppercase fw-bold">Archived</span>
            <div class="@SortedByArchived()" @onclick="(() => OrderByArchived())">All</div>
            <div class="@SortedByArchived("Archived")" @onclick="@(() => OrderByArchived("Archived"))">Archived</div>
            <div class="@SortedByArchived("Non-Archived")" @onclick="@(() => OrderByArchived("Non-Archived"))">Non Archived</div>
        </div>
    </div>
</div>


