@page "/ItemDetails/{Id:int}"
@inject IItemEndpoint itemEndpoint
@inject IUserEndpoint userEndpoint
@inject ICompanyEndpoint companyEndpoint
@inject NavigationManager navManager
@inject PageHistoryState PageHistoryState
@attribute [Authorize]

<h1 class="page-heading text-uppercase mb-4">Item Details</h1>

<div class="row justify-content-center detail-form">
    <div class="col-md-12 col-xl-12">
        @if (item is not null && users is not null && companies is not null)
        {
            <div class="row form-layout mt-4 tasks-background">
                <div class="col-11">
                    <div class="form-layout mb-2">
                        <div class="text-center fw-bold text-uppercase">Model Name</div>
                        <div class="text-center">@item.ModelName</div>
                    </div>
                    <div class="form-layout mb-2">
                        <div class="text-center fw-bold text-uppercase">Description</div>
                        <div class="text-center">@item.Description</div>
                    </div>
                    <div class="form-layout mb-2">
                        <div class="text-center fw-bold text-uppercase">Quantity</div>
                        <div class="text-center">@item.Quantity</div>
                    </div>
                    <div class="form-layout mb-2">
                        <div class="text-center fw-bold text-uppercase">Price</div>
                        <div class="text-center">@item.Price€</div>
                    </div>
                     <div class="form-layout mb-2">
                        <div class="text-center fw-bold text-uppercase">Internal Supplier [Person]</div>
                        <div class="text-center">@GetInternalSupplierUserName()</div>
                    </div>
                    <div class="form-layout mb-2">
                        <div class="text-center fw-bold text-uppercase">Internal Supplier [Company]</div>
                        <div class="text-center">@GetInternalSupplierCompany()</div>
                    </div>
                    <div class="form-layout mb-2">
                        <div class="text-center fw-bold text-uppercase">Location</div>
                        <div class="text-center">@item.Location</div>
                    </div>
                    <div class="form-layout mb-2">
                        <div class="text-center fw-bold text-uppercase">European Article Number</div>
                        <div class="text-center european-Article-Number-font">@EanValue()</div>
                    </div>
                   <AuthorizeView Roles="Admin">
                        <div class="mb-2 center-children">
                            <button class="btn btn-danger btn-lg text-uppercase" @onclick="LoadUpdateItemPage">Update Item</button>
                        </div>
                   </AuthorizeView>
                </div>
                <div class="col-1 close-button-section">
                    <button class="btn btn-close" @onclick="ClosePage"></button>
                </div>
            </div>
        }
        else
        {
            <ErrorMessage />
        }
    </div>
</div>


