@page "/userRoles"
@using WSMPortal.Components;
@inject IUserEndpoint userEndpoint
@inject IJobTitleEndpoint jobTitleEndpoint
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage
@inject IDistributedCache cache
@attribute [Authorize(Roles = "Admin")]

<h1 class="page-heading text-uppercase mb-4">Users's roles and current job title</h1>

@if (string.IsNullOrWhiteSpace(errorMessage) == false)
{
    <div class="row justify-content-center alert alert-danger">
        <div class="col-lg-11 center-children">
            @errorMessage
        </div>
         <div class="col-lg-1">
            <button class="btn btn-close" @onclick="@(() => errorMessage = "")"></button>
        </div>
    </div>
}

<div class="row justify-content-center create-form">
    <div class="col-xl-3 form-layout create-form-department-company">
        <div class="input-section">
            <label class="form-label fw-bold text-uppercase">User Roles</label>
            <div class="input-description">Choose one role to remove from a user. This affects their permissions.</div>
            <div class="col-lg-12">
                <input @oninput="((txt) => OnSearchInputUserRole((string)txt.Value))" 
                    type="text" class="form-control" 
                    placeholder="Search User Role" />
            </div>
            <div class="col-lg-8">
                <MyInputRadioGroup id="user-roles" @bind-Value="selectedUserRole">
                    @if (userRoles is not null && availableRoles is not null)
                    {
                        @foreach (var r in userRoles)
                        {
                            <div class="radio-item-group">
                                <InputRadio Value="@r" id="@r" @onclick="(() => LoadSelectedUserRole(r))"/>
                                <label for="@r">@r</label>
                            </div>
                        }
                    }
                </MyInputRadioGroup>
            </div>
        </div>
        <div class="input-section">
            <label class="form-label fw-bold text-uppercase">Availables Roles</label>
            <div class="input-description">Choose one role to add on a user. This affects their permissions.</div>
            <div class="col-lg-12">
                <input @oninput="((txt) => OnSearchInputAvailableRole((string)txt.Value))" 
                    type="text" 
                    class="form-control" 
                    placeholder="Search Available Role" />
            </div>
            <div class="col-lg-8">
                <MyInputRadioGroup id="available-roles" @bind-Value="selectedAvailableRole">
                    @if (availableRoles is not null && userRoles is not null)
                    {
                        @foreach (var r in availableRoles)
                        {
                            <div class="radio-item-group">
                                <InputRadio Value="@r" id="@r" @onclick="(() => LoadSelectedAvailableRole(r))"/>
                                <label for="@r">@r</label>
                            </div>
                        }
                    }
                </MyInputRadioGroup>
            </div>
        </div>
    </div>
    <div class="col-xl-5 col-lg-10 form-layout">
        <div class="close-button-section">
            <button class="btn btn-close" @onclick="ClosePage"></button>
        </div>
        <div class="input-section">
            <label class="form-label fw-bold text-uppercase" for="users">Users</label>
            <div class="input-description">Choose one user to add/remove a role/job title</div>
            <div class="col-lg-12">
                <input @oninput="((txt) => OnSearchInputUser((string)txt.Value))" 
                    type="text" 
                    class="form-control mb-2" 
                    placeholder="Search User" />
                <div class="center-children">
                    <div class="btn-group align-items-center">
                        <button class="btn @AddSelectedRoleClass()" @onclick="AddSelectedRole">Add Role</button>
                        <button class="btn @RemoveSelectedRoleClass()" @onclick="RemoveSelectedRole">Remove Role</button>
                        <button class="btn @AddSelectedJobClass()" @onclick="AddSelectedJob">Add Job</button>
                        <button class="btn @RemoveSelectedJobClass()" @onclick="RemoveSelectedJob">Remove Job</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <MyInputRadioGroup id="users" @bind-Value="selectedUser.Id">
                    @if (users is not null)
                    {
                        @foreach (var u in users)
                        {
                            <div class="radio-item-group">
                                <InputRadio Value="@u.Id" id="@u.Id" @onclick="(() => LoadSelectedUser(u.Id))"/>
                                <label for="@u.Id">@u.FullName - @u.RoleList</label>
                            </div>
                        }
                    }
                </MyInputRadioGroup>
            </div>
        </div>
    </div>
    <div class="col-xl-3 form-layout create-form-user">
        <div class="input-section">
            <label class="form-label fw-bold text-uppercase">User Jobs</label>
            <div class="input-description">Choose one job title to remove on a user. This doesn't affect permissions</div>
            <div class="col-lg-12">
                <input @oninput="((txt) => OnSearchInputUserJob((string)txt.Value))" 
                    type="text" 
                    class="form-control" 
                    placeholder="Search User Job" />
            </div>
            <div class="col-lg-8">
                <MyInputRadioGroup id="user-jobs" @bind-Value="selectedUserJob">
                    @if (userJobs is not null && availableJobs is not null)
                    {
                        @foreach (var j in userJobs)
                        {
                            <div class="radio-item-group">
                                <InputRadio Value="j" id="@j" @onclick="(() => LoadSelectedUserJob(j))"/>
                                <label for="@j">@j</label>
                            </div>
                        }
                    }
                </MyInputRadioGroup>
            </div>
        </div>
        <div class="input-section">
            <label class="form-label fw-bold text-uppercase">Available Jobs</label>
            <div class="input-description">Choose one job title to add on a user. This doesn't affect permissions.</div>
            <div class="col-lg-12">
                <input @oninput="((txt) => OnSearchInputAvailableJob((string)txt.Value))" 
                    type="text" 
                    class="form-control" 
                    placeholder="Search Available Job" />
            </div>
            <div class="col-lg-8">
                <MyInputRadioGroup id="available-jobs" @bind-Value="selectedAvailableJob">
                    @if (availableJobs is not null && userJobs is not null)
                    {
                        @foreach (var j in availableJobs)
                        {
                            <div class="radio-item-group">
                                <InputRadio Value="j" id="@j" @onclick="(() => LoadSelectedAvailableJob(j))" />
                                <label for="@j">@j</label>
                            </div>
                        }
                    }
                </MyInputRadioGroup>
            </div>
        </div>
    </div>
</div>

