@page "/users"
@inject IUserEndpoint userEndpoint
@inject IJobTitleEndpoint jobTitleEndpoint
@inject IDepartmentEndpoint departmentEndpoint
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage
@inject IDistributedCache cache
@attribute [Authorize]

<h1 class="page-heading text-uppercase mb-4">Users</h1>

<div class="row">
    <div class="col-md-2 text-uppercase fw-bold text-light">@users?.Count Users</div>
    <div class="col-md-4 col-xl-5 btn-group">
        <button class="btn @SortedByDateCreated(true)" @onclick="(() => OrderByDateCreated(true))">Newest</button>
        <button class="btn @SortedByDateCreated(false)" @onclick="(() => OrderByDateCreated(false))">Oldest</button>
    </div>
    <div class="col-md-4 col-xl-3 input-search">
        <input type="text" placeholder="Search" 
            aria-label="Search Box"
            class="form-control rounded-control"
            @oninput="((txt) => OnSearchInput((string)txt.Value))" />
    </div>
    <div class="col-12 d-block d-md-none">
        @if (departments is not null)
        {
            <div class="departments">
                <span class="text-uppercase fw-bold">Departments</span>
                <div class="@GetSelectedDepartment()" @onclick="(() => OnDepartmentClick())">All</div>
                @foreach (var d in departments)
                {
                    <div class="@GetSelectedDepartment()" @onclick="(() => OnDepartmentClick(d.Id))">
                        @d.DepartmentName
                    </div>
                }
            </div>
        }
        @if (jobs is not null)
        {
            <div class="departments">
                <span class="text-uppercase fw-bold">Job Titles</span>
                <div class="@GetSelectedJob()" @onclick="(() => OnJobTitleClick())">All</div>
                @foreach (var j in jobs)
                {
                    <div class="@GetSelectedJob(j.Id)" @onclick="(() => OnJobTitleClick(j.Id))">@j.JobName</div>
                }
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-xl-9">
        @if (users is not null && departments is not null)
        {
            <Virtualize Items="users" Context="u" OverscanCount="10">
                <div class="row form-layout mt-4 tasks-background" @onclick="(() => OpenDetails(u))">
                    <div class="col-12">
                        <div class="form-layout mb-2">
                            <div class="text-center fw-bold text-uppercase">Full Name</div>
                            <div class="text-center">@u.FullName</div>
                        </div>
                        <div class="form-layout mb-2">
                            <div class="text-center fw-bold text-uppercase">Department</div>
                            <div class="text-center">@GetDepartmentName(u)</div>
                        </div>
                        <div class="form-layout mb-2">
                            <div class="text-center fw-bold text-uppercase">Job Title</div>
                            @if (u.JobList.Count() > 0)
                            {
                                <div class="text-center">@u.JobList</div>
                            }
                            else
                            {
                                <div class="text-center">No Job Title</div>
                            }
                        </div>
                        <div class="form-layout mb-2">
                            <div class="text-center fw-bold text-uppercase">Roles [Web Permissions]</div>
                            @if (u.RoleList.Count() > 0)
                            {
                                <div class="text-center">@u.RoleList</div>
                            }
                            else
                            {
                                <div class="text-center">No Roles</div>
                            }
                        </div>
                    </div>
                </div>
            </Virtualize>
        }
    </div>
    <div class="col-md-4 col-xl-3 d-none d-md-block">
        @if (departments is not null)
        {
            <div class="departments">
                <span class="text-uppercase fw-bold">Departments</span>
                <div class="@GetSelectedDepartment()" @onclick="(() => OnDepartmentClick())">All</div>
                @foreach (var d in departments)
                {
                    <div class="@GetSelectedDepartment(d.Id)" @onclick="(() => OnDepartmentClick(d.Id))">@d.DepartmentName</div>
                }
            </div>
        }
        @if (jobs is not null)
        {
            <div class="departments">
                <span class="text-uppercase fw-bold">Job Titles</span>
                <div class="@GetSelectedJob()" @onclick="(() => OnJobTitleClick())">All</div>
                @foreach (var j in jobs)
                {
                    <div class="@GetSelectedJob(j.Id)" @onclick="(() => OnJobTitleClick(j.Id))">@j.JobName</div>
                }
            </div>
        }
    </div>
</div>


