@page "/reports"
@inject IReportEndpoint reportEndpoint
@inject ITaskEndpoint taskEndpoint
@inject IUserEndpoint userEndpoint
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage
@attribute [Authorize(Roles = "Admin")]

<h1 class="page-heading text-uppercase mb-4">Reports</h1>

<div class="row">
    <div class="col-12 d-block d-md-none">
        @if (users is not null)
        {
            <div class="departments">
                <span class="text-uppercase fw-bold ">Users</span>
                <div class="@GetSelectedUser()" @onclick="(() => OnUserClick())">All</div>
                @foreach (var u in users)
                {
                    <div class="@GetSelectedUser()" @onclick="(() => OnUserClick(u.Id))">
                        @u.FullName
                    </div>
                }
            </div>
        }
    </div>
    <div class="col-md-2 mt-2 text-uppercase fw-bold text-white">@reports?.Count Reports</div>
    <div class="col-md-4 col-xl-5 btn-group input-search">
        <button class="btn @SortedByNewClass(true)" @onclick="(() => OrderByNew(true))">New</button>
        <button class="btn @SortedByNewClass(false)" @onclick="(() => OrderByNew(false))">Old</button>
        <button class="btn @SortedByArchivedClass(true)" style="margin-left: 5px;" @onclick="(() => ShowArchives(true))">Archived</button>
        <button class="btn @SortedByArchivedClass(false)" @onclick="(() => ShowArchives(false))">Non Archived</button>
    </div>
    <div class="col-md-4 col-xl-3">
        <input type="text" placeholder="Search"
            aria-label="Search Box" class="form-control rounded-control"
            @oninput="((txt) => OnSearchInputReport((string)txt.Value))"/>
    </div>
    <div class="col-12 d-block d-md-none">
        @if (tasks is not null )
        {
            <div class="departments">
                <span class="text-uppercase fw-bold">Tasks</span>
                <div class="@GetSelectedTask()" @onclick="(() => OnTaskClick())">All</div>
                @foreach (var t in tasks)
                {
                    <div class="@GetSelectedTask()" @onclick="(() => OnTaskClick(t.Id))">
                        @t.Title
                    </div>
                }
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-xl-3 d-none d-md-block">
        @if (users is not null)
        {
            <div class="departments">
                <span class="text-uppercase fw-bold ">Users</span>
                <input type="text" placeholder="Search"
                    aria-label="Search Box" class="form-control rounded-control mt-2"
                    @oninput="((txt) => OnSearchInputUser((string)txt.Value))"/>
                <div class="@GetSelectedUser()" @onclick="(() => OnUserClick())">All</div>
                @foreach (var u in users)
                {
                    <div class="@GetSelectedUser(u.Id)" @onclick="(() => OnUserClick(u.Id))">
                        @u.FullName
                    </div>
                }
            </div>
        }
    </div>
    <div class="col-md-8 col-xl-6">
        @if (reports is not null && tasks is not null)
        {
            <Virtualize Items="reports" Context="r" OverscanCount="10">
                <div class="row form-layout mt-4 tasks-background" @onclick="(() => OpenDetails(r))">
                    <div class="col-12">
                        <div class="form-layout mb-2">
                            <div class="text-center fw-bold text-uppercase">Title</div>
                            <div class="text-center">@r.Title</div>
                        </div>
                        <div class="form-layout mb-2">
                           <div class="text-center fw-bold text-uppercase">Description</div>
                           <div class="text-center">@r.Description</div>
                        </div>
                        <div class="form-layout mb-2">
                            <div class="text-center fw-bold text-uppercase">Task Title</div>
                            <div class="text-center">@GetTaskTitle(r)</div>
                        </div>
                        <div class="form-layout mb-2">
                            <div class="text-center fw-bold text-uppercase">Author</div>
                            <div class="text-center">@GetTaskUser(r)</div>
                        </div>
                    </div>                  
                </div>
            </Virtualize>
        }
    </div>
    <div class="col-md-4 col-xl-3 d-none d-md-block">
        @if (tasks is not null)
        {
            <div class="departments">
                <span class="text-uppercase fw-bold">Tasks</span>
                <input type="text" placeholder="Search"
                    aria-label="Search Box" class="form-control rounded-control mt-2"
                    @oninput="((txt) => OnSearchInputTask((string)txt.Value))"/>

                <div class="@GetSelectedTask()" @onclick="(() => OnTaskClick())">All</div>
                @foreach (var t in tasks)
                {
                    <div class="@GetSelectedTask(t.Id)" @onclick="(() => OnTaskClick(t.Id))">@t.Title</div>
                }
            </div>
        }
    </div>
</div>



