@page "/companies"
@inject ICompanyEndpoint companyEndpoint
@inject IUserEndpoint userEndpoint
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage
@attribute [Authorize]

<h1 class="page-heading text-uppercase mb-4">Companies</h1>

<div class="row">
    <div class="col-md-2 mt-2 text-uppercase fw-bold">@companies?.Count Items</div>
    <div class="col-md-4 col-xl-5 btn-group">
        <button class="btn @SortedByDateFounded(true)" @onclick="(() => OrderByDateFounded(true))">Oldest</button>
        <button class="btn @SortedByDateFounded(false)" @onclick="(() => OrderByDateFounded(false))">Newest</button>
    </div>
    <div class="col-md-4 col-xl-3 input-search">
        <input type="text" placeholder="Search" 
            aria-label="Search Box" 
            class="form-control rounded-control"
            @oninput="((txt) => OnSearchInput((string)txt.Value))" />
    </div>
    <div class="col-12 d-block d-md-none">
        @if (users is not null)
        {
            <div class="departments">
                <span class="text-uppercase fw-bold">Companies</span>
                <div class="@GetSelectedUser()" @onclick="(() => GetSelectedUser())">All</div>
                @foreach (var u in users)
                {
                    <div class="@GetSelectedUser(u.Id)" @onclick="(() => GetSelectedUser(u.Id))">
                        @u.FullName
                    </div>
                }
            </div>
        }
        <div class="departments">
            <span class="text-uppercase fw-bold">Archived</span>
            <div class="@SortedByArchived()" @onclick="(() => OrderByArchived())">All</div>
            <div class="@SortedByArchived("Archived")" @onclick="@(() => OrderByArchived("Archived"))">Archived</div>
            <div class="@SortedByArchived("Non-Archived")" @onclick="@(() => OrderByArchived("Non-Archived"))">Non Archived</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-xl-9">
        @if (companies is not null)
        {
            <Virtualize Items="companies" Context="c" OverscanCount="10">
                <div class="row form-layout mt-4 items-background" @onclick="(() => OpenDetails(c))">
                    <div class="col-12">
                        <div class="form-layout mb-2">
                            <div class="text-center fw-bold text-uppercase">Company Name</div>
                            <div class="text-center fw-bold">@c.CompanyName</div>
                        </div>
                        <div class="form-layout mb-2">
                            <div class="text-center fw-bold text-uppercase">Description</div>
                            <div class="text-center fw-bold">@c.Description</div>
                        </div>
                        <div class="form-layout mb-2">
                            <div class="text-center fw-bold text-uppercase">Phone number</div>
                            <div class="text-center fw-bold">@c.PhoneNumber</div>
                        </div>
                    </div>
                </div>
            </Virtualize>
        }
    </div>
    <div class="col-md-4 col-xl-3 d-none d-md-block">
        @if (users is not null)
        {
            <div class="departments">
                <span class="text-uppercase fw-bold">Companies</span>
                <div class="@GetSelectedUser()" @onclick="(() => OnUserClick())">All</div>
                @foreach (var u in users)
                {
                    <div class="@GetSelectedUser(u.Id)" @onclick="(() => OnUserClick(u.Id))">
                        @u.FullName
                    </div>
                }
            </div>
        }
        <div class="departments">
            <span class="text-uppercase fw-bold">Archived</span>
            <div class="@SortedByArchived()" @onclick="(() => OrderByArchived())">All</div>
            <div class="@SortedByArchived("Archived")" @onclick="@(() => OrderByArchived("Archived"))">Archived</div>
            <div class="@SortedByArchived("Non-Archived")" @onclick="@(() => OrderByArchived("Non-Archived"))">Non Archived</div>
        </div>
    </div>
</div>


