@page "/departments"
@inject IDepartmentEndpoint departmentEndpoint
@inject ICompanyEndpoint companyEndpoint
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage
@attribute [Authorize]

<h1 class="page-heading text-uppercase mb-4">Departments</h1>

<div class="row">
    <div class="col-md-2 mt-2 text-uppercase fw-bold text-light">@departments?.Count Items</div>
    <div class="col-md-4 col-xl-5 btn-group">
        <button class="btn @SortedByCreatedDate(true)" @onclick="(() => OrderByCreatedDate(true))">Oldest</button>
        <button class="btn @SortedByCreatedDate(false)" @onclick="(() => OrderByCreatedDate(false))">Newest</button>
    </div>
    <div class="col-md-4 col-xl-3 input-search">
        <input type="text" placeholder="Search" 
            aria-label="Search Box" 
            class="form-control rounded-control"
            @oninput="((txt) => OnSearchInput((string)txt.Value))" />
    </div>
    <div class="col-12 d-block d-md-none">
        @if (companies is not null)
        {
            <div class="departments">
                <span class="text-uppercase fw-bold">Companies</span>
                <div class="@GetSelectedCompany()" @onclick="(() => OnCompanyClick())">All</div>
                @foreach (var c in companies)
                {
                    <div class="@GetSelectedCompany(c.Id)" @onclick="(() => OnCompanyClick(c.Id))">
                        @c.CompanyName
                    </div>
                }
            </div>
        }
        <div class="departments">
            <span class="text-uppercase fw-bold">Archived</span>
            <div class="@SortedByArchived()" @onclick="(() => OrderByArchived())">All</div>
            <div class="@SortedByArchived("Archived")" @onclick="@(() => OrderByArchived("Archived"))">Archived</div>
            <div class="@SortedByArchived("Non-Archived")" @onclick="@(() => OrderByArchived("Non-Archived"))">Non Archived</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-xl-9">
        @if (departments is not null)
        {
            <Virtualize Items="departments" Context="d" OverscanCount="10">
                <div class="row form-layout mt-4 items-background" @onclick="(() => OpenDetails(d))">
                    <div class="col-12">
                        <div class="form-layout mb-2">
                            <div class="text-center fw-bold text-uppercase">Department Name</div>
                            <div class="text-center fw-bold">@d.DepartmentName</div>
                        </div>
                        <div class="form-layout mb-2">
                            <div class="text-center fw-bold text-uppercase">Description</div>
                            <div class="text-center fw-bold">@d.Description</div>
                        </div>
                        <div class="form-layout mb-2">
                            <div class="text-center fw-bold text-uppercase">Phone number</div>
                            <div class="text-center fw-bold">@d.PhoneNumber</div>
                        </div>
                    </div>
                </div>
            </Virtualize>
        }
    </div>
    <div class="col-md-4 col-xl-3 d-none d-md-block">
        @if (companies is not null)
        {
            <div class="departments">
                <span class="text-uppercase fw-bold">Companies</span>
                <div class="@GetSelectedCompany()" @onclick="(() => OnCompanyClick())">All</div>
                @foreach (var c in companies)
                {
                    <div class="@GetSelectedCompany(c.Id)" @onclick="(() => OnCompanyClick(c.Id))">
                        @c.CompanyName
                    </div>
                }
            </div>
        }
        <div class="departments">
            <span class="text-uppercase fw-bold">Archived</span>
            <div class="@SortedByArchived()" @onclick="(() => OrderByArchived())">All</div>
            <div class="@SortedByArchived("Archived")" @onclick="@(() => OrderByArchived("Archived"))">Archived</div>
            <div class="@SortedByArchived("Non-Archived")" @onclick="@(() => OrderByArchived("Non-Archived"))">Non Archived</div>
        </div>
    </div>
</div>


